q
*.tab.c
*.tab.h
*.output
*.orig
*.rej
*.stackdump
*.tmp
*.yacc.c
*.yacc.h
.DS_Store
.idea/
.vscode/
build/
cmake-build-debug/
cmake-build-release/
cmake-build-test/
cmake-build-valgrind/
cmake-build-valgrind-debug/
cmake-build-valgrind-release/
cmake-build-valgrind-test/